.card__delete-button {
    background-image: url(../../../images/delete-icon.svg);
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 19px;
    transition: opacity .5s;
}

.card__delete-button:hover {
    opacity: .6;
}