.popup__save-button {
    width: 358px;
    height: 50px;
    background-color: #000;
    border-radius: 2px;
    color: #FFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 18px;

    transition: opacity .5s;
}

.popup__save-button:hover {
    opacity: .8;
}

@media screen and (max-width: 767px) {
    .popup__save-button {
        margin-top: 15px;
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}