.header__logo {
    width: 142px;
    height: 33px;
    background-image: url(../../../images/logo-mesto.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 41px;
}

@media screen and (max-width: 767px) {
    .header__logo {
        margin-left: 27px;
        width: 103.7px;
        height: 24.4px;
    }
}