.footer {
    margin: 0 auto;
    padding-top: 67px;
    padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
    .footer {
        width: calc(100% - 38px);
        padding-top: 48px;
        padding-bottom: 36px;
    }
}