.profile__name {
    margin: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 420px;
}

@media screen and (max-width: 767px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        max-width: calc(282px - 18px - 10px - 28px);
    }
} 