.popup__close-button {
    position: absolute;
    top: -40px;
    right: -40px;
    background-image: url(../../../images/close-icon.svg);
    background-size: contain;
    width: 32px;
    height: 32px;
    transition: opacity .5s;
}

.popup__close-button:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
} 