.profile__cover {
    display: flex;
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .8);
    object-fit: contain;
    justify-content: center;
    align-items:center;
    opacity: 0;
    transition: visibility .5s, opacity .5s;
    z-index: 2;
}

.profile__cover:hover {
    cursor: pointer;
    opacity: 1;
    transition: opacity .5s;
}