.popup__input {
    padding: 0;
    margin-bottom: 13px;
    width: 358px;
    height: 27px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    box-sizing: border-box;
    outline: none;
}

.popup__input:focus {
    outline: none;
    border: 1px solid #42AAFF;
}

@media screen and (max-width: 767px) {
    .popup__input {
        width: 238px;
        height: 27px;
    }
}